.navbar {
    background-color: cornflowerblue;
    height: 18vh;
}

.logo-img {
    width: 115px;
    height: 115px;
    margin-inline: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

input.caja-texto {
    width: 400px;
    margin-inline: auto;
    display: block;
}