.navbar {
    background-color: cornflowerblue;
    height: 18vh;
}

.logo-img {
    width: 115px;
    height: 115px;
    margin-inline: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

input.caja-texto {
    width: 400px;
    margin-inline: auto;
    display: block;
}

.texto-link {
    margin-top: 20px
}

.mioffcanvas {
    background-color: cornflowerblue !important; /*va con !important para sobrecargar el color definido*/
    color: white !important;
}